<html lang='eng'>
    <head>
        <meta charset='utf-8'/>
        <meta http-equiv='X-UA-Compatible' content='IE=edge' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>MVC Blog</title>
    </head>
        <body>
            <header class="flex justify-between items-center">
                <h1 class="'text-7xl m-6 hover:fony-bold">
                    <a href="/dashbard">Welcome</a></h1>
                    <nav class="flex justify-between">
                        <ul class="flex gap-4 m-6">
                            <li class="text-3xl font-bold hover:text-red-700">Home</li>
                        </ul>
                    </nav>
                </h1>
            </header>
            <main>
                {{{body}}}
            </main>
        </body>
    </html>