
<html lang="eng">
<title>MVC Blog</title>
</head>
    <body>
        <header class="flex justify-between items-center'>
            <h1 class='text-7xl m-6 hover:font-bold'><a href='/'>MVC Blog</a></h1>
            <nav class='flex gap-4 m-6'>
                <ul class='flex gap-4 m-6'>
                    <li class='text-3xl font-bold hover:text-red-700'><a href='/'>Home</a></li>
                    <li class='text-3xl font-bold hover:text-red-700'><ahref='/dashboard'>Dashboard</a></li>
                    <li class='text-3xl font-bold hover:text-red-700'><a href='/login'>Login</a></li>
                </ul>
            </nav>
        </header>
            <main>
                {{{body}}}
            </main>
    </body>
</html>