
            <label for='password class=text-4xl mr-4 mb-4'></label>Passwords:</label>
        <input
            type='password'
            class='w-full rounded-md p-4 mt-4 text-2xl'
            placeholder='Please enter your password'/>
        </div>
    </form>
    </div>
</div>

<script src'/js/login.js></script> 