<div class='flex justify-center mt-12'>
    <div class='w-1/2'>
    <h2 class='text-6xl font-bold m-4 text-center'></h2>Login</div><h2></h2>

    <form class='flex justify-center flex-col gap-4'>
        <div class='w-full'>
            <label for='email class=text-4xl mr-4 mb-4'></label>Email:</label>
            <input
            type='email'
            class='w-full rounded-md p-4 mt-4 text-2xl'
            placeholder='Please enter your email'/> 
        </div>
        <div class='w-full'>
            <label for='password class=text-4xl mr-4 mb-4'></label>Passwords:</label>
        <input
            type='password'
            class='w-full rounded-md p-4 mt-4 text-2xl'
            placeholder='Please enter your password'/>
        </div>
    </form>
    </div>
</div>

<script src'/js/login.js></script> 